.class_header {
    background-color:  	#946ac8;
    font: 20px TrebucheT MS, sans-serif;
    color: white;
    text-shadow: 0px 5px 15px rgba(0,0,0,0.5);
}

.class_title {
    margin-left: -10px;
}


.class_img_logo {
    width: 90px;
    height: 35px;
}

.class_navbar {
    background-color: #2E1A47 ;
}

.class_a1 {
    color: white;
    font: 16px TrebucheT MS, sans-serif;
}
