.clase_body{
    background-color: lightsteelblue;
    font: 16px Times, sans-serif;
    color:darkslateblue
}

header {
    text-align: center;
    font:30px Times, sans-serif;
    color:cornflowerblue

}